@font-face {
  font-family: Cabin;
  src: url(/fonts/Cabin-VariableFont.ttf);
}
@font-face {
  font-family: NoCurvesBoustrophedon;
  src: url(/fonts/NoCurvesBoustrophedon.ttf);
}
@font-face {
  font-family: JennaSue;
  src: url(/fonts/JennaSue.ttf);
}
@font-face {
  font-family: Modeseven;
  src: url(/fonts/Modeseven.ttf);
}

:root {
  // basic colors
  --primary-color: #17acda;
  --secondary-color: #b457b3;

  // gradient shade colors
  --primary-gradDark-color: #117d9e;
  --primary-gradLight-color: #8ad9f8;
  --secondary-gradDark-color: #b457b3;
  --secondary-gradLight-color: #bf96e3;

  // dark theme
  --dark-font-base: #fbfeff;
  --dark-bg-navig: #161616;
  --dark-bg-content: #1d1d1d;
  --dark-border: #797979;
  --dark-skill-shade: #3a3a3a;
  --dark-font-contact: #cecece;

  // light theme
  --light-font-base: #575757;
  --light-bg-navig: #dddddd;
  --light-bg-content: #e4e4e4;
  --light-border: #8a8a8a;
  --light-skill-shade: #a5a5a5;
  --light-font-contact: #313131;

  // dynamically changed values
  --base-font-color: var(--dark-font-base);
  --bg-navig-color: var(--bg-navig-color);
  --bg-content-color: var(--dark-bg-content);
  --border-color: var(--dark-border);
  --skill-shading-color: var(--dark-skill-shade);
  --contact-font-color: var(--dark-font-contact);

  // fonts
  --font-base: "Cabin", sans-serif;
  --font-square: "NoCurvesBoustrophedon";
  --font-handWritten: "JennaSue";
  --font-terminal: "Modeseven";
  --basic-text-font-size: clamp(0.6rem, 1.3vw, 1.1rem);
  --section-title-font-size: clamp(1rem, 6vw, 4rem);

  // misc
  --padding-val: clamp(20px, 3.5vw, 55px);
  --basic-border: 2px dashed var(--border-color);

  // section - skill
  --card-basic-font-size: clamp(0.6rem, 1.3vw, 1.3rem);
  // section - work
  --subtitle-text-font-size: clamp(1rem, 1.7vw, 1.5rem);
  --numbering-text-font-size: clamp(1rem, 2vw, 1.3rem);
}

// BASIC ---------------> ///////

// Basic page properties
.basic-wrap {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.content-wrap {
  display: flex;
  align-items: center;
  width: 100%;
}

// Code <section>
.code {
  font-family: var(--font-handWritten);
  font-size: clamp(0.8rem, 3vw, 2rem);
  color: var(--border-color);
  text-transform: capitalize;
}

// TITLING ---------------> ///////

// Titles
.gradient-base {
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
}

/* GRADIENT TEXTS */
.gradient-text-primary {
  @extend .gradient-base;
  background-image: linear-gradient(
    90deg,
    var(--primary-gradDark-color),
    var(--primary-gradLight-color)
  );
}

.gradient-text-secondary {
  @extend .gradient-base;
  background-image: linear-gradient(
    120deg,
    var(--secondary-gradDark-color) 35%,
    var(--primary-color) 80%
  );
}

@mixin gradText($deg-val, $clr1-val, $clr2-val) {
  background-image: linear-gradient(
    $deg-val,
    var(--primary-gradLight-color) 10%,
    var(--primary-color) $clr1-val,
    var(--secondary-gradDark-color) $clr2-val
  );
}

.squared-text {
  font-family: var(--font-square);
}
