@import "./themes/MainTheme.scss";

// APP LAYOUT
.app-navbar {
  position: sticky;
  top: 0;
  height: 100vh;
  grid-area: navig;
  overflow: hidden;
}
.app-content {
  grid-area: content;
  overflow-x: hidden;
}

.app-wrapper {
  display: grid;
  grid-template-columns: 230px auto;
  grid-template-areas: "navig content";
  //display: none;
  // TODO: opacity transition ?
}
@media (max-width: 1300px) {
  .app-wrapper {
    grid-template-columns: 100%;
    grid-template-areas: "navig" "content";
  }
  .app-navbar {
    position: relative;
    height: auto;
    top: auto;
  }
}
