@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
//@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@font-face {
  font-family: NoCurvesBoustrophedon;
  src: url(/fonts/NoCurvesBoustrophedon.ttf);
}
@font-face {
  font-family: JennaSue;
  src: url(/fonts/JennaSue.ttf);
}
@font-face {
  font-family: Cabin;
  src: url(/fonts/Cabin-VariableFont.ttf);
}

:root {
  --font-title: "La Belle", sans-serif;
  --font-base: "Open Sans", sans-serif;
  --font-primary: "Playfair Display", sans-serif;
  --font-secondary: "Cabin"; // chosen base
  --font-square: "NoCurvesBoustrophedon";
  --font-handWritten: "JennaSue";

  // basic ---- primary // #91c4f2
  --primary-color: #17acda;
  --secondary-color: #b457b3;

  // gradient
  --primary-gradDark-color: #117d9e;
  --primary-gradLight-color: #8ad9f8;
  --secondary-gradDark-color: #b457b3;
  --secondary-gradLight-color: #bf96e3;

  // misc
  --white-color: #fbfeff;
  --lighterBlack-color: #1d1d1d;
  --black-color: #161616;
  --lightGray-color: #808080;
  --gray-color: #797979;
  --darkGray-color: #3f3f3f;
  --darkerGray-color: #3a3a3a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  color: var(--white-color);
}

body {
  background-color: var(--lighterBlack-color);
  font-family: var(--font-secondary);
  width: 100vw;
  height: 100vh;
  user-select: none;
  max-width: 100%;
  overflow-x: hidden;
}
