@import "../../themes/MainTheme.scss";

.home {
  @extend .basic-wrap;
  overflow-x: hidden;
  height: 100vh;
  padding: var(--padding-val);
}

.home .wrapper {
  @extend .content-wrap;
}

/* mixins */
@mixin bounce-in($waitTime) {
  animation: wait #{$waitTime}, bounce-in 800ms #{$waitTime};
}
@mixin slide-in($waitTime) {
  animation: wait #{$waitTime}, slide-in 1000ms #{$waitTime};
}
@mixin fade-in($waitTime) {
  animation: wait #{$waitTime}, fade-in 800ms #{$waitTime};
}

/* IMAGE -------------------------------------------------------- */

// bunny image wrapper
.home .img-wrapper {
  position: relative;
  left: 50vw;
  top: max(-17vw, -8vw);
  transform: rotate(-75deg);
}

// bunny image
.home .wrapper > div:first-child > img {
  content: url("./../../assets/bunnyTitle6.svg");
  width: clamp(10rem, 48vw, 48vw);
  height: auto;
  position: absolute;
  @include slide-in("1200ms");
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 35%,
    rgba(0, 0, 0, 0.7) 80%
  );
}

@media (min-width: 1301px) {
  .home .wrapper > div:first-child {
    left: 40vw;
  }
}

@media (max-height: 500px) {
  .home {
    height: 100%;
  }
}

/* TEXT --------------------------------------------------------------------- */

.home .text-wrapper {
  position: relative;
  white-space: nowrap;
  text-transform: capitalize;
}

.home .code {
  @extend .code;
}
.home .code.end {
  margin: clamp(5px, 2vw, 15px) 0;
}

.home .greeting,
.home .profession {
  font-size: clamp(1.2rem, 8vw, 5rem);
  font-weight: bolder;
}
.home .greeting {
  @include bounce-in("400ms");
}
.home .profession {
  @include bounce-in("1000ms");
}

.home .name {
  font-size: clamp(1.2rem, 8vw, 4.8rem);
  font-weight: bolder;
  @include bounce-in("700ms");
}

.home .role {
  font-size: clamp(0.7rem, 2.6vw, 1.5rem);
  color: var(--border-color);
  @include bounce-in("900ms");
}

// ***** special name "PETRA" ***** //
.home .name > span {
  @extend .gradient-base;
  display: inline-block;
  //vertical-align: sub;
  transform: rotate(0deg);
  border-bottom: 0px dashed var(--border-color);
  transition: transform 250ms ease-in-out;
}
.home .name > span:nth-child(even) {
  @include gradText(120deg, 30%, 60%);
}
.home .name > span:nth-child(odd) {
  @include gradText(190deg, 48%, 50%);
}
.home .name > span:nth-child(even):hover {
  transform: rotate(7deg);
  border-bottom: var(--basic-border);
}
.home .name > span:nth-child(odd):hover {
  transform: rotate(-7deg);
  border-bottom: var(--basic-border);
}

/* ANIMATION gfx */

#arrow {
  position: absolute;
  left: 50%;
  top: 90vh;
  animation: animate-up-down 1s ease-in-out infinite;
  z-index: 4;
}

@keyframes animate-up-down {
  0%,
  100% {
    top: 90vh;
  }
  50% {
    top: 93vh;
  }
}

@keyframes wait {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    filter: blur(50%);
    transform: translateY(40%);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    filter: blur(0%);
    transform: translateY(0);
  }
}
@keyframes fade-in {
  0% {
    filter: blur(50%);
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    filter: blur(0%);
    opacity: 1;
  }
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.03);
  }
  70% {
    opacity: 1;
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
