.contact-form {
  width: 100%;
  margin: clamp(0.2rem, 1vw, 0.6rem) 0;
}

.contact-form div:first-child {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: clamp(0.5rem, 1.8vw, 1.2rem);
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
  //font-weight: 600;
  letter-spacing: 0.2rem;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 0.8rem;
  font-size: var(--basic-text-font-size);
  font-family: var(--font-base);
  color: var(--lightGray-color);
  background-color: var(--darkGray-color);
  border: none;
  border-right: clamp(0.5rem, 5vw, 2rem) solid var(--gray-color) !important;
  margin: clamp(0.2rem, 1vw, 0.6rem) 0;
  outline: none;
}
.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
  border-right: clamp(0.5rem, 5vw, 2rem) solid var(--secondary-color) !important;
  box-shadow: none;
}

.contact-form textarea {
  height: 50%;
  resize: none;
  border: none;
}
