.contact-form {
  width: 100%;
  margin: clamp(0.2rem, 1vw, 0.6rem) 0;
}

.contact-form label {
  display: block;
  text-transform: capitalize;
  font-size: var(--basic-text-font-size);
  font-family: var(--font-base);
  margin-top: clamp(0.2rem, 1vw, 0.6rem);
  margin-bottom: clamp(0.1rem, 0.5vw, 0.3rem);
  color: var(--gray-color);
}

.contact-form input[type="text"] {
  color: var(--lightGray-color) !important;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.contact-form input[type="text"],
.contact-form textarea {
  width: 100%;
  padding: 0.7rem;
  font-size: var(--basic-text-font-size);
  font-family: var(--font-base);
  color: var(--black-color);
  background-color: var(--darkGray-color);
  border: none;
  font-weight: bold;
  margin: clamp(0.2rem, 1vw, 0.6rem) 0;
}

.contact-form textarea {
  height: 50%;
  resize: vertical;
  border: none;
}

.contain-form .primary-link {
  border: 2px dashed var(--primary-color);
}
