@import "../../App.scss";

div.contact {
  background-color: var(--lighterBlack-color);
}

div.contact {
  @extend .basic-wrap;
  background-color: var(--lighterBlack-color);
  padding: var(--padding-val);
}

div.contact .wrapper {
  display: flexbox;
  align-items: center;
  width: 100%;
}

div.contact .code {
  @extend .code;
}
div.contact .code.end {
  margin: clamp(10px, 4vw, 40px) 0;
}

div.contact .title {
  font-size: clamp(1rem, 6vw, 4rem);
  font-weight: bolder;
}
div.contact .title > span {
  @extend .gradient-base;
  @include gradText(120deg, 30%, 60%);
  display: inline-block;
  transform: rotate(0deg);
  transition: transform 250ms ease-in-out;
}
div.contact .title > span:hover {
  transform: rotate(7deg);
}

// CONTENT ********************************************** //
