@import "../../themes/MainTheme.scss";

.about,
.skills,
.work,
.contact {
  @extend .basic-wrap;
  background-color: var(--bg-content-color);
  padding: var(--padding-val);
}

.about .wrapper,
.skills .wrapper,
.work .wrapper,
.contact .wrapper {
  display: flexbox;
  align-items: center;
  width: 100%;
}

.about .code,
.skills .code,
.work .code,
.contact .code {
  @extend .code;
}
.about .code.end,
.skills .code.end,
.work .code.end,
.contact .code.end {
  margin: clamp(10px, 4vw, 40px) 0;
}

.about .title,
.skills .title,
.work .title,
.contact .title {
  font-size: var(--section-title-font-size);
  font-weight: bolder;
}
.about .title > span,
.skills .title > span,
.work .title > span,
.contact .title > span {
  @extend .gradient-base;
  @include gradText(120deg, 30%, 60%);
  display: inline-block;
  transform: rotate(0deg);
  transition: transform 250ms ease-in-out;
}
.about .title > span:hover,
.skills .title > span:hover,
.work .title > span:hover,
.contact .title > span:hover {
  transform: rotate(7deg);
}
