@import "./components/TagSphere.scss";

.skills .grid {
  margin: 2vw 0;
  display: grid;
  grid-template-columns: 1fr $tagcanvas-width 1fr;
  grid-template-areas: "card1 tagcanvas card2";
  column-count: 3;
  column-gap: 0px;
  justify-items: center;
}
.skills .grid > div:nth-child(1) {
  justify-self: left !important;
}
.skills .grid > div:nth-child(3) {
  justify-self: right !important;
}

@media (max-width: 1700px) {
  .skills .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "tagcanvas tagcanvas" "card1 card2";
    column-count: 2;
    row-gap: 20px;
    column-gap: 20px;
  }
  .card-text-container img,
  .card-text-container hr,
  .card-text-container p.skill-para {
    display: none;
  }
}
@media (max-width: 550px) {
  .skills .grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas: "tagcanvas" "card1" "card2";
    column-count: 1;
    align-items: center;
    row-gap: 20px;
  }
}
@media (min-width: 2200px) {
  .skills .grid > div:nth-child(1),
  .skills .grid > div:nth-child(3) {
    width: 90% !important;
  }
}
@media (min-width: 2500px) {
  .skills .grid > div:nth-child(1),
  .skills .grid > div:nth-child(3) {
    width: 80% !important;
  }
}

.skills .grid > div:nth-child(1) {
  grid-area: card1;
}
.skills .grid > div:nth-child(2) {
  grid-area: tagcanvas;
}
.skills .grid > div:nth-child(3) {
  grid-area: card2;
}

.skills .grid > div:nth-child(1),
.skills .grid > div:nth-child(3) {
  display: flex;
  align-self: top;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: var(--basic-border);
  min-height: max-content;
}

.skills .grid > div:nth-child(2) {
  display: inline-flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.skills .grid > div:nth-child(1) > div,
.skills .grid > div:nth-child(3) > div {
  width: 100%;
  margin: clamp(10px, 5vw, 40px);
}
