.blue-weighted {
  color: var(--primary-color);
  font-size: 3rem;
}

.purple-weighted {
  color: var(--secondary-color);
  font-size: 2rem;
}

$tagcanvas-width: 35vw;

.tagcanvas {
  min-width: $tagcanvas-width;
}

#canvasContainer {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#canvas {
  width: 100%;
}

.hide-elems {
  display: none;
}
