.card {
  width: 100%;
  font-size: var(--basic-text-font-size);
  text-align: justify;
  display: flex;
}

// /* ******** text container *********** */

.card-text-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  //align-items: center;
  flex-direction: column;
  //height: 100%;
}

.card-text-container img {
  width: clamp(6rem, 8vw, 24rem);
  height: auto;
  display: flex;
  align-self: center;
  filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.7));
}
.card-text-container img:nth-child(2) {
  //transform: rotate(0deg);
  opacity: 0;
  transition: all 1.5s ease-in-out;
}
.card-text-container img.skill-rotated {
  transform: rotate(180deg) !important;
  opacity: 1;
}

.card-text-container span {
  font-weight: bolder;
  text-transform: uppercase;
  display: block;
  text-align: left;
}

.card-text-container .skill-percent {
  font-size: clamp(2rem, 1.8vw, 4.6rem);
}
.card-text-container .skill-percent b {
  text-transform: uppercase;
  font-size: var(--card-basic-font-size);
}

//skill line
.card-text-container > div {
  color: var(--white-color);
  padding: 5px 0;
}

.skill-line.is-loading-line#skill-js {
  width: 90% !important;
  transition: all 2s ease-in-out;
}
.skill-line.is-loading-line#skill-react {
  width: 80% !important;
  transition: all 1.8s ease-in-out;
}
.skill-line.is-loading-line#skill-node {
  width: 70% !important;
  transition: all 1.6s ease-in-out;
}
.skill-line.is-loading-line#skill-python {
  width: 45% !important;
  transition: all 1.5s ease-in-out;
}
#skill-js,
#skill-react,
#skill-node,
#skill-python {
  position: absolute;
  width: 0%;
  transition: all 1.5s ease-in-out;
}

.skill-line {
  height: 8px;
  border-radius: 0;
  margin: 3px 0;
}
.skill-underline {
  background: transparent;
  box-shadow: var(--darkGray-color) 1px 1px 7px;
}
#skill-js,
#skill-python {
  background: linear-gradient(
    120deg,
    var(--primary-gradDark-color),
    var(--primary-gradLight-color)
  );
}
#skill-node,
#skill-react {
  background: linear-gradient(
    120deg,
    var(--secondary-gradDark-color),
    var(--secondary-gradLight-color)
  );
}

.first-letter {
  display: inline !important;
  font-size: clamp(2rem, 1.5vw, 4rem);
}
.card-text-container .skill-para {
  color: var(--primary-color);
  text-align: left;
}
hr {
  padding-bottom: clamp(1.5rem, 2vw, 5rem);
  color: transparent;
  border: 0;
}
