@import "../../themes/MainTheme.scss";

.navbar {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 5;
  text-align: center;
  font-size: large;
  background-color: var(--bg-navig-color);
}

@media (max-width: 1300px) {
  .navbar {
    height: 0;
    position: fixed;
    transition: height 250ms ease-in-out;
    overflow-y: auto;
  }
  .navbar-wrapper {
    padding-top: var(--padding-val);
  }

  .show {
    height: 100%;
  }
  #close {
    display: block !important;
  }
}

.navbar-wrapper {
  display: flexbox;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: flex-start;
}

/** CLOSE BTN **/
#close {
  z-index: 5;
  display: none;
  font-size: 3rem;
  * {
    color: var(--base-font-color);
  }
  position: absolute;
  right: var(--padding-val);
}
#close:hover {
  * {
    color: var(--secondary-color);
  }
  cursor: pointer;
}

/** HOLPET LOGO SECTION **/

.logo-section {
  min-height: 32vh;
  justify-content: center;
  align-items: center;
  overflow: none;
  margin-bottom: 10px;
}

.logo-section,
.logo-section > a {
  color: var(--base-font-color);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  overflow-x: visible;
  font-weight: 600;
}

// logo text
.logo-section > a > span {
  font-size: x-large;
  position: relative;
  letter-spacing: 0.1rem;
}
.logo-section > span {
  //font-size: small;
  font-weight: lighter;
  position: relative;
  font-family: var(--font-handWritten);
  font-size: 2rem;
  color: var(--border-color);
}

/** NAVIGATION LINKS **/
.nav-links {
  min-height: 20vh;
  margin-bottom: 10px;
  font-weight: bold;
}

.nav-links div {
  border-top: var(--basic-border);
}
.nav-links div:last-child {
  border-bottom: var(--basic-border);
}

.nav-links a {
  width: 100%;
  color: var(--primary-color);
  text-align: center;
  line-height: 3rem;
  text-decoration: none;
  transition: color 50ms ease-in-out;
  transition: letter-spacing 150ms ease-in-out;
}

.nav-links a:hover {
  color: var(--secondary-color);
  letter-spacing: 0.05rem;
}
